@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply w-full h-full p-0 m-0 text-onyx bg-pale-purple font-modern-era;
}

@layer base {
  @font-face {
    font-family: "ModernEra";
    font-weight: 300;
    src: url("/fonts/ModernEra-Light.ttf");
  }
  @font-face {
    font-family: "ModernEra";
    font-weight: 400;
    src: url("/fonts/ModernEra-Regular.ttf");
  }
  @font-face {
    font-family: "ModernEra";
    font-weight: 500;
    src: url("/fonts/ModernEra-Medium.otf");
  }
  @font-face {
    font-family: "ModernEra";
    font-weight: 700;
    src: url("/fonts/ModernEra-Bold.otf");
  }
  @font-face {
    font-family: "ModernEra";
    font-weight: 800;
    src: url("/fonts/ModernEra-ExtraBold.otf");
  }

  .effect-shadow-hover {
    @apply shadow-[-1px_1px,-2px_2px,-3px_3px,-4px_4px,-5px_5px,-6px_6px,-7px_7px,-8px_8px,-9px_9px,-10px_10px] shadow-onyx;
  }

  .effect-shadow {
    @apply transition-all duration-300 shadow-[1px_-1px,2px_-2px,3px_-3px,4px_-4px,5px_-5px,6px_-6px,7px_-7px,8px_-8px,9px_-9px,10px_-10px] shadow-slate-blue hover:effect-shadow-hover;
  }
}
